<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <context id="context" targetRuntime="com.github.yjjqrqqq.mybatis_generator.plugins.Generator$MyIntrospectedTable">
        <!--SELECT ONE -->
        <plugin type="com.github.yjjqrqqq.mybatis_generator.plugins.SelectOneByExamplePlugin"/>
        <!-- -->
        <plugin type="com.github.yjjqrqqq.mybatis_generator.plugins.ModelColumnPlugin"/>
        <plugin type="com.github.yjjqrqqq.mybatis_generator.plugins.LimitPlugin"/>
        <!--批量插入插件 -->
        <plugin type="com.github.yjjqrqqq.mybatis_generator.plugins.BatchInsertPlugin"/>
        <!--生成基类和子类，子类不编辑，基类负责实体映射 -->
        <plugin type="com.github.yjjqrqqq.mybatis_generator.plugins.BaseClassPlugin">
            <property name="classMethodSearchString" value="ByExample"/>
            <property name="classMethodReplaceString" value="ByCriteria"/>
            <property name="parameterSearchString" value="ByExample"/>
            <property name="parameterSearchString" value="ByCriteria"/>
        </plugin>
        <!--单纯的改名插件 -->
        <plugin type="com.github.yjjqrqqq.mybatis_generator.plugins.RenamePlugin">
            <property name="classMethodSearchString" value="ByExample"/>
            <property name="classMethodReplaceString" value="ByCriteria"/>
            <property name="parameterSearchString" value="ByExample"/>
            <property name="parameterSearchString" value="ByCriteria"/>
        </plugin>

        <!-- 见DefaultCommentGenerator配置 -->
        <commentGenerator>
            <property name="suppressAllComments" value="false"/>
            <property name="suppressDate" value="true"/>
            <property name="addRemarkComments" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL=""
                        userId=""
                        password=""/>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- 实体类生成的位置 -->
        <javaModelGenerator targetPackage="com.yjq.dao.domain" targetProject="dao/src/main/java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <table tableName="test" mapperName="TestDao">
            <generatedKey column="id" sqlStatement="MySQL" identity="true"/>
        </table>
    </context>
</generatorConfiguration>